@charset "utf-8";

/*  */
/* main */
/*  */
.main {
    background-color: #fbfbfb;
}

.about-page__title {
    /* color: #fbfbfb; */
    
    font-family: "Geist";
    font-size: 2.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.about-page__title-sub {
    font-size: 1.8rem;
    font-weight: 700;
}

.career__name-en {
    font-family: 'Geist';
    font-size: 1.4rem;
    line-height: 1;
    margin-top: 20px;
}

.career__name-ja {
    font-size: 2.4rem;
    font-weight: 700;
}

.career__text {
    margin-top: 20px;
}

.career__text-item + .career__text-item {
    margin-top: 18px;
}

.career__timeline {
    margin-top: 50px;
}

.career__timeline-item {
    display: flex;
}

.career__timeline-item + .career__timeline-item {
    margin-top: 24px;
}

.career__timeline-year {
    font-size: 1.5rem;
    font-weight: 500;
    margin-right: 34px;
}

.strengths {
    margin-top: 50px;
}