@charset "utf-8";

/*  */
/* main */
/*  */
.main {
    background-color: #fbfbfb;
}

.about-page__title {
    /* color: #fbfbfb; */
    
    font-family: "Geist";
    font-size: 2.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.about-page__title-sub {
    font-size: 1.8rem;
    font-weight: 700;
}

/*  */
/* career */
/*  */

.career__name-en {
    font-family: 'Geist';
    font-size: 1.4rem;
    line-height: 1;
    margin-top: 20px;
}

.career__name-ja {
    font-size: 2.4rem;
    font-weight: 700;
}

.career__text {
    margin-top: 20px;
}

.career__text-item + .career__text-item {
    margin-top: 18px;
}

.career__timeline {
    margin-top: 50px;
}

.career__timeline-item {
    display: flex;
}

.career__timeline-item + .career__timeline-item {
    margin-top: 24px;
}

.career__timeline-year {
    font-size: 1.5rem;
    font-weight: 500;
    margin-right: 34px;
}

.strengths {
    margin-top: 50px;
    background-color: #E6EDF2;
}

.section-title:not(.contact__title) {
    background: linear-gradient(90deg, #002453, #75A1DB);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
}

/*  */
/* strengths */
/*  */
.strengths__list {
    margin-top: 50px;
}

.strengths__item {
    background-color: #fbfbfb;
    border-radius: 6px;

    padding: 30px;
}

.strengths__item span {
    font-size: 3.6rem;
    font-weight: 700;
    line-height: 1;

    background: linear-gradient(90deg, #002453, #75A1DB);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
}

.strengths__item h4 {
    font-size: 2.2rem;
    font-weight: 700;
    text-align: center;

    background: linear-gradient(90deg, #002453, #75A1DB);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
}

.strengths__item p {
    margin-top: 2px;
}

/*  */
/* interests */
/*  */
.interests__list {
    margin-top: 30px;
}

.interests__item h4 {
    font-weight: 700;
    margin-top: 10px;
}

.interests__item p {
    margin-top: 6px;
}

/*  */
/* gallery */
/*  */

/* フッターのコンタクトにもグラデーションがかかっているのを直す。 */