@charset "utf-8";

/*  */
/* main */
/*  */
.main {
    background-color: #DDE3EA;
}

.works-page__title {
    /* color: #fbfbfb; */
    
    font-family: "Geist";
    font-size: 2.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.works-page__title-sub {
    font-size: 1.8rem;
    font-weight: 700;
}

.works-page {
    padding-bottom: 30px;
    margin-top: 40px;
    padding-bottom: 40px;
}
.works-page__top-img-content {
    background-color: #fbfbfb;
    border-radius: 10px;
}

.works-page__text-content {
    background-color: #fbfbfb;
    border-radius: 10px;
    margin-top: 30px;
}

.works-page__work-name {
    font-size: 1.8rem;
    font-weight: 700;
}

.works-page__info-item dt  {
    font-weight: 700;
    margin-top: 30px;
}

.works-page-inner {
    padding: 40px 20px;
}
