@charset "utf-8";
/*  */
/* common */
/*  */

/* *,
*::before,
*::after {
    box-sizing: border-box;
} */

:root {
    --primary-white: #fbfbfb;
    --primary-black: #1a1a1a;
    --btn-blue: #334B78;

    --content-width: 88%;
    --content-padding: 5.8%;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'IBM Plex Sans JP','Geist',sans-serif;
    font-style: normal;
    color: var(--primary-black, #1a1a1a);
    background-color: var(--primary-white, #fbfbfb);
    line-height: 1.6;
    font-size: 1.5rem;
}

img {
    max-width: 100%;
    height: auto;
}

.section {
    padding: 30px 0;
}

.section-title {
    font-family: 'Geist';
    font-size: 3rem;
    font-weight: 700;
    line-height: 1;

}

.section-title-sub {
    font-family: 'IBM Plex Sans JP';
    font-size: 1.8rem;
    font-weight: 700;
    margin-left: 6px;
    line-height: 1;
}

.btn {
    display: block;
    color: var(--primary-white);
    text-align: center;
    border-radius: 6px;
    background: var(--btn-blue);
    padding: 15px 48px 0 30px;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1;
    position: relative;
    transition: 0.4s;

    width: 150px;
    height: 42px;
    margin-left: auto;
}

.btn::after {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url(../img/arrow.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.btn:hover {
    opacity: 0.4s;
}

.inner {
    padding: 0 24px;
}

/* common PC */
@media screen and (min-width: 768px) {
    body {
        font-size: 1.6rem;
    }

    .section {
        padding: 100px 0;
    }

    .section-title {
        font-size: 6rem;
    }

    .section-title-sub {
        font-size: 3rem;
        margin-left: 8px;
    }

    /* btn */

    .inner {
        padding: 0 30px;
        max-width: 1080px;
        margin: 0 auto;
    }
}
/*  */
/* header */
/*  */

/*  */
/* nav */
/*  */






/*  */
/* fv */
/*  */
.fv__title-content {
    position: relative;
}

.fv__title {
    position: absolute;
    z-index: 2;

    font-family: 'Geist';
    font-size: clamp(2.2rem, 7vw, 8rem);
    line-height: 1.5;
    font-weight: 700;

    top: 50%;
    transform: translateY(-50%);
}

.fv__img {
    display: block;
    width: 70%;
    margin-left: auto;
    border-radius: 10px 0 0 10px ;
    /* border-radius: 10px ; */
}

/*  */
/* works */
/*  */
.works {
    margin-top: 150px;
}

.works__title {
    background: linear-gradient(90deg, #002453, #75A1DB);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
}

.works__content {
    margin-top: 30px;
    
}

.works__content + .works__content {
    margin-top: 56px;
} 


.works__img {
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.works__name {
    font-size: 1.8rem;
    font-weight: 700;
    margin-top: 20px;
}

.works__txt {
    font-size: 1.5rem;
    margin-top: 12px;
}

.works__skill {
    color: #888;
    font-family: 'Geist';
    font-size: 1.2rem;
}

.works__btn {
    margin-top: 16px;
}

/* .works PC */
@media screen and (min-width: 768px) {
    .works__content {
        display: flex;
        margin-top: 80px;

        flex-direction: row-reverse;
        justify-content: flex-end;
        /* justify-content: space-between; */
        gap: 100px;
    }

    .works__content + .works__content {
        margin-top: 80px;
} 

    .works__img {
        width: 520px;
    }

    .works__text-content {
        /* width: 380px; */

        display: flex;
        flex-direction: column;
    }

    .works__name {
        font-size: 2.4rem;
        font-weight: 700;
        margin-top: 0;
    }

    .works__txt {
        font-size: 1.5rem;
        margin-top: 12px;
    }

    .works__skill {
        font-size: 1.4rem;
    }

    .works__btn {
        margin-top: 80px;
    }
}

/*  */
/* .about */
/*  */
.about {
    background-color: #6C8AA6;
    color: var(--primary-white);
}

.about__content {
    margin-top: 20px;
}

.about__img {
    border-radius: 16px;
}

.about__name-en {
    font-family: Geist;
    font-size: 1.4rem;
    margin-top: 14px;
    line-height: 1;
}

.about__name-ja {
    font-size: 2.6rem;
    font-weight: 700;
}

.about__text {
    margin-top: 14px;
}

.about__text + .about__text {
    margin-top: 20px;
}

.about__btn {
    margin-top: 20px;
}

/* .about PC */
@media screen and (min-width: 768px) {
    .about__content {
        display: flex;
        margin-top: 50px;
        gap: 66px;
    }

    .about__img {
        width: 420px;
    }

    .about__name-en {
        font-size: 1.6rem;
        margin-top: 0;
    }

    .about__name-ja {
        font-size: 3rem;
    }

    .about__text {
        margin-top: 26px;
    }

    .about__text + .about__text {
        margin-top: 14px;
    }

    .about__btn {
        margin-top: 66px;
    }
}

/*  */
/* .contact */
/*  */
.contact {
    background-color: #263D57;
    color: var(--primary-white);
}

.contact__content {
    margin-top: 20px;
}

.contact__mail {
    display: block;
    margin-top: 10px;
}

/* .contact PC */
@media screen and (min-width: 768px) {
    .contact__content {
        margin-top: 60px;
    }
}

/*  */
/* .footer-main */
/*  */
.footer-main {
    font-family: 'Geist';
    background-color: #142941;
    color: var(--primary-white);
    padding-top: 30px;
}

.footer-main__logo {
    font-size: 3rem;
    font-weight: 700;
    line-height: 1;
}

.footer-main__list {
    margin-top: 30px;
}

.footer-main__item {
    font-family: 'Geist';
    font-size: 1.6rem;
    font-weight: 600;
}

.footer-main__item + .footer-main__item {
    margin-top: 10px;
}

.footer-main__copy {
    display: block;
    text-align: center;
    margin: 40px auto 0;
    padding-bottom: 20px;
}

/* .footer-main PC */
@media screen and (min-width: 768px) {
    .footer-main {
        padding-top: 100px;
    }

    .footer-main__logo-list-content {
        display: flex;
    }

    .footer-main__logo {
        font-size: 6rem;
    }

    .footer-main__list {
        display: flex;
        margin-left: auto;
    }

    .footer-main__item {
        font-family: 'Geist';
        font-size: 1.6rem;
        font-weight: 600;
        margin-left: 20px;
    }

    .footer-main__item + .footer-main__item {
        margin-top: 0px;
    }

    .footer-main__copy {
        margin-top: 80px;
        text-align: end;
    }
}