@charset "utf-8";

/*  */
/* main */
/*  */
.main {
    background-color: #DDE3EA;
}

.works-page__title {
    /* color: #fbfbfb; */
    
    font-family: "Geist";
    font-size: 2.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.works-page__title-sub {
    font-size: 1.8rem;
    font-weight: 700;
}

.works-page {
    margin-top: 40px;
    padding-bottom: 40px;
}
.works-page__top-img-content {
    background-color: #fbfbfb;
    border-radius: 10px;
}

.works-page__text-content {
    background-color: #fbfbfb;
    border-radius: 10px;
    margin-top: 30px;
}

.works-page__work-name {
    font-size: 1.8rem;
    font-weight: 700;
}

.works-page__info-item dt  {
    font-weight: 700;
    margin-top: 30px;
}

.works-page-inner {
    padding: 40px 20px;
}

@media screen and (min-width: 768px) {
    .works-page__title {
        font-size: 8rem;
    }

    .works-page__title-sub {
        font-size: 4rem;
    }

    .works-page {
        margin-top: 120px;
        padding-bottom: 150px;
    }
    .works-page__top-img-content {
        border-radius: 14px;
    }

    .works-page__text-content {
        border-radius: 16px;
        margin-top: 120px;
    }

    .works-page__work-name {
        font-size: 3rem;
    }

    .works-page__info-item dt  {
        margin-top: 22px;
    }

    .works-page-inner {
        padding: 60px 120px;
    }
}